div[draggable=true] {
   cursor: grab;
}

/* This removes the background of dragged elements */
div[draggable=true]::before, div[draggable=true]::after {
   content: "" !important;
}

.no-drag {
   cursor:alias
}