.colorPin {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    margin: 5px;
}

.disabled-color {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><path d='M100 0 L0 100 ' stroke='black' stroke-width='17'/><path d='M0 0 L100 100 ' stroke='black' stroke-width='17'/></svg>");
  background-repeat:no-repeat;
  background-position:center center;
  background-size: 100% 100%, auto;
  cursor:alias
}

.highlighted-color {
  border-width: 0px;
  padding: 2px;
  box-shadow: 0px 0px 10px 5px rgba(255,255,0,1);
}

.opaque-color {
  opacity: 0.15;
}