.colorPin {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    margin: 5px;
}

.disabled {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><path d='M100 0 L0 100 ' stroke='black' stroke-width='17'/><path d='M0 0 L100 100 ' stroke='black' stroke-width='17'/></svg>");
  background-repeat:no-repeat;
  background-position:center center;
  background-size: 100% 100%, auto;
}

.opaque {
    opacity: 0.15;
}