.game-row-buttons {

}

.info-pins-container {
    height: 36px;
}

.info-pins {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    height: 36px;
}

.info-pin {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    margin: 3px;
}

.random-button {
    height: 36px;
    width: 36px;
    margin-right: 5px;
}

.submit-button {
    height: 36px;
    width: 36px;
}

.hole {
    background-color: hsl(34, 57%, 50%);
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}