.icon-selector {
    border: 1px solid black;
    background-color: hsla(34, 57%, 70%, 0.7);
    position: absolute;
    right: 36px;
    bottom: -72px;
    z-index: 1000;
}

.icon-selector-close-button {
    width: 30px;
    height: 30px;
    font-weight: bold;
    cursor: pointer
}

.icon-selector-close-button:hover {
    cursor: pointer
}