.tuples-hints-row{
    display: flex;
    flex-direction: row;
}

.add-tuple-slot-button {
    display: inline-flex;
    height: 24px;
    width: 24px;
    background-color: hsl(120, 100%, 60%);
    margin: auto;
}